**Q-1**

In [3]:

import random
basic_salary = eval(input(" Enter the basic_salaryof ramesh : "))

dearness_allowance = round (basic_salary * 0.4,2)

house_rent_allowance = round (basic_salary * 0.2,2)
                              
gross_salary = basic_salary + dearness_allowance + house_rent_allowance

print(f"Ramesh's gross salary is: {gross_salary}")

 Enter the basic_salaryof ramesh :  85000

Ramesh's gross salary is:  136000.0

**Q-2**

In [2]:

distance_km = eval(input("Enter the distance between two cities in kilometers: "))
                   
distance_meters = round(distance_km * 1000,2)

distance_feet = round(distance_meters * 3.28084,2)

distance_inches = round(distance_feet * 12,2)

distance_centimeters =round(distance_meters * 100,2)

print(f"Distance in meters: {distance_meters}")
print(f"Distance in feet: {distance_feet}")
print(f"Distance in inches: {distance_inches}")
print(f"Distance in centimeters:  {distance_centimeters}")

Enter the distance between two cities in kilometers:  64

Distance in meters: 64000
Distance in feet: 209973.76
Distance in inches: 2519685.12
Distance in centimeters:  6400000

**Q-3**

In [4]:
sub1 = eval(input("Enter marks in subject 1: "))
sub2 = eval(input("Enter marks in subject 2: "))
sub3 = eval(input("Enter marks in subject 3: "))
sub4 = eval(input("Enter marks in subject 4: "))
sub5 = eval(input("Enter marks in subject 5: "))
aggregate_marks = sub1 + sub2 + sub3 + sub4 + sub5
percentage_marks =round((aggregate_marks / 500) * 100,2)

print("\nAggregate marks: ", aggregate_marks)
print("Percentage marks: ", percentage_marks)

Enter marks in subject 1:  6.77
Enter marks in subject 2:  6.93
Enter marks in subject 3:  7.13
Enter marks in subject 4:  7.54
Enter marks in subject 5:  8.25

Aggregate marks:  36.62
Percentage marks:  7.32

**Q-4**

In [ ]:
fahrenheit = eval(input("Enter temperature in Fahrenheit: "))
centigrade = round((fahrenheit - 32) * 5/9,2)
print(f"\nTemperature in Centigrade: {centigrade}")

**Q-5**

In [6]:
import math
length = eval(input("Enter the length of the rectangle: "))
breadth = eval(input("Enter the breadth of the rectangle: "))
radius = eval(input("Enter the radius of the circle: "))

rectangle_area = length * breadth
rectangle_perimeter =round( 2 * (length + breadth),2)

print(f"Area of rectangle : {rectangle_area:}")
print(f" Perimeter of rectangle : {rectangle_perimeter:}")

circle_area = round(math.pi * (radius ** 2),2)
circle_circumference = round(2 * math.pi * radius,2)

print(f"Area of circle : {circle_area:}")
print(f"Circumference of circle : {circle_circumference:}")

Enter the length of the rectangle:  10
Enter the breadth of the rectangle:  5
Enter the radius of the circle:  5

Area of rectangle : 50
 Perimeter of rectangle : 30
Area of circle : 78.54
Circumference of circle : 31.42

**Q-6**

In [1]:
C = int(input("Enter the value of C: "))
D = int(input("Enter the value of D: "))
        
print(" Before C values : ",C)
print(" Before D values : ",D)
A=C
C=D
D=A
print(" After C value: ",C)
print(" After D value:  ",D)

Enter the value of C:  30
Enter the value of D:  10

 Before C values :  30
 Before D values :  10
 After C value:  10
 After D value:   30

**Q-7**

In [1]:
 num = int(input("Enter a five-digit number: "))
reversed_num = ((num % 10) * 10000) + ((num // 10) % 10) * 1000 + ((num // 100) % 10) * 100 + ((num // 1000) % 10) * 10 + (num // 10000)
print("Reversed number: ", reversed_num)

Enter a five-digit number:  98765

Reversed number:  56789

**Q-8**

In [4]:
num = int(input("Enter a four-digit number: "))
reversed_num = ((num % 10) * 1000) + ((num // 10) % 10) * 100 + ((num // 100) % 10) * 10 + (num // 1000)
print("Reversed number: ", reversed_num)

Enter a four-digit number:  1234

Reversed number:  4321

**Q-9**

In [5]:
percent_men = 52
percent_literate = 48
percent_literate_men = 35

total_population = 80000
total_men = (percent_men / 100) * total_population
total_literate = (percent_literate / 100) * total_population
literate_men = (percent_literate_men / 100) * total_population
literate_women = total_literate - literate_men

illiterate_men = total_men - literate_men
illiterate_women = total_population - total_men - literate_women

print("Total illiterate men: ", int(illiterate_men))
print("Total illiterate women: ", int(illiterate_women))

Total illiterate men:  13600
Total illiterate women:  28000

**Q-10**

In [7]:
amount = int(input("Enter the amount to be withdrawn (in hundreds): ")) * 100

notes_100 = amount // 100  #(// used for floor division)
amount %= 100

notes_50 = amount // 50
amount %= 50

notes_10 = amount // 10
amount %= 10

print("Number of 100 notes: ", notes_100)
print("Number of 50 notes: ", notes_50)
print("Number of 10 notes: ", notes_10)

Enter the amount to be withdrawn (in hundreds):  650

Number of 100 notes:  650
Number of 50 notes:  0
Number of 10 notes:  0